<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.twisterrob.colorfilters.test"
	>

	<application>

		<activity
			android:name="net.twisterrob.colorfilters.android.ColorFilterFragmentHost"
			android:process="net.twisterrob.colorfilters.debug"
			/>

	</application>

</manifest>
