<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.twisterrob.colorfilters.android.image"
	>

	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

	<queries>
		<intent>
			<action android:name="android.media.action.IMAGE_CAPTURE" />
		</intent>
	</queries>

</manifest>
