# IDEA
.gradle/
.idea/
*.ipr
*.iws
*.iml
projectFilesBackup

# Gradle
# rootProject
/build/
# App and module collections
/*/build/
# Features, Components and Gradle Plugins
/*/*/build/
# Contracts
/*/*/*/build/

# Android
local.properties
captures

# VCS
.svn/

# Project
temp/
gradled.bat
