<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	>

	<application>

		<activity
			android:name=".AboutActivity"
			android:label="@string/cf_about_title"
			android:exported="false"
			android:theme="@style/Theme.AppCompat.Light.NoActionBar"
			/>

	</application>

</manifest>
